.container{
    display: flex;
    justify-content: center;
    padding: 0.3em 1em;
    align-items: center;
    border: 1px solid var(--grey);
    gap: .5em;
    border-radius: 15px;
}
.container:hover{
    background: #333;
    border-radius: none;
    color: #fff;
    box-shadow: none;
}
.container:active{
    transform: translateY(3px);
}
.one{
    background: #333;
    color: #fff;
    box-shadow: none;
}
.all{
    display: none;
    border: none;
}
.img{
    width: 25px;
    height: 25px;
}
.text{
    font-size: 14px;
}